<h2>Login Form</h2>

<div class="container">

  <label> {{ title }} - {{uname}}</label>
  <img [src]="img_url" />

  <label for="uname"><b> username</b> </label>
  <input type="text" placeholder="Enter Username" name="uname" [(ngModel)]="uname" required>

  <label for="pwr"><b>password</b></label>
  <input type="password" placeholder="Enter password" name="pwr" [(ngModel)]="pwr" required>

  <button type="submit" (click)="login()">Login</button>

  <div [class]="divstatus ? 'show' : 'hide'">
    <div [style.background-color]="status ? 'green' : 'red'">
      <label style="color: white;"> {{ text }} </label>
    </div>
  </div>

</div>