<!-- <app-sidenav></app-sidenav> -->
<!-- <div class="container-fluid">
    <div class="row">
        <h1>Business Dashboard</h1>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title captialize">Customers</h5>
                    <p class="card-text">54,235</p>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- <div> -->
    <span>{{loginState}}</span>
    <h3>{{ data }}</h3>
<!-- </div> -->