<div class="container-fluid">
    <h1>BUISNESS DASH BOARD</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img src="./assets/image.png" alt="" width="50" height="24" class="d-inline-block align-text-top">  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <ul class="navbar-nav mr-auto">  
            <li class="nav-item active">
                <div class="alert alert-primary" role="alert">
                    <a class="nav-link" href="#">CUSTOMERS <span class="sr-only"></span></a>
                  </div>   
            </li>
            <li class="nav-item">
                <div class="alert alert-primary" role="alert">
                    <a class="nav-link" href="#">INCOME <span class="sr-only"></span></a>
                  </div>
              
            </li>
            <li class="nav-item">
                <div class="alert alert-primary" role="alert">
                    <a class="nav-link" href="#">PRODUCT SOLD <span class="sr-only"></span></a>
                </div>
            </li>
          </ul>
        </div>
      </nav>
<h1>Market place</h1>

        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-secondary">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">SUMMARY</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0">
                            <i class="bi bi-boxes"></i> <span class="ms-1 d-none d-sm-inline text-white">TRANSCATION</span>
                        </a>
                    </li>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item">
                            <a href="#" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline text-white">STATISTICS</span>
                            </a>
                        </li>
                        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                            <li class="nav-item">
                                <a href="#" class="nav-link align-middle px-0">
                                    <i class="bi bi-basket"></i> <span class="ms-1 d-none d-sm-inline text-white">PRODUCT</span>
                                </a>
                            </li>
                            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                                <li class="nav-item">
                                    <a href="#" class="nav-link align-middle px-0">
                                        <i class="bi bi-cart-dash-fill"></i> <span class="ms-1 d-none d-sm-inline text-white">CATEGORY</span>
                        </a>
                        </li>
                        </ul>
                        </ul>
                        </ul>
                        </ul>
                        </div>
            
                            
                                